@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300&family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

}
body {
  background: #06060a;
}
.ihr {
  border: none;
  height: 3vh;
  background-color: #fff;
  margin: 10vh 30vh;
  border: 1vh solid #ff4a67;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 25px #ff4a67);
}
/* Invisble Scroll Bar */
/* width */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
body::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(26, 255, 26, 0.6);
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(26, 255, 26);
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #f28500;
}
/* ---------- Header ---------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 0vh 10vh;
  align-items: center;
  box-shadow: 0px 0px 100px -12px #0f0;
  background: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10vh;
}
.logo {
  width: 120px;
  height: auto;
}
header ul {
  display: flex;
  list-style: none;
  gap: 4vh;
}
header ul li a {
  text-decoration: none;
  color: rgb(26, 255, 26);
  font-family: 'open sans', sans-serif;
  font-weight: 100;
}
header ul li a:hover {
  color: #ff4a67;
  text-shadow: 0px 5px 10px #ff4a67;
}

.myButton {
  background: none;
  border-radius: 10px;
  border: 2px solid rgb(26, 255, 26);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.6rem;
  padding: 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: rgb(26, 255, 26);
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 25px 0px rgb(26, 255, 26);
}

.toggle_btn {
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  height: 0px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 20px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 150px;
  padding: 10px 20px;
  border: .5px solid rgb(255, 255, 255, 0.5);
}

.dropdown_menu li {
  list-style-type: none;
}

.dropdown_menu a {
  font-size: 0.6rem;
  color: rgb(26, 255, 26);
  font-family: 'inter', sans-serif;
  text-decoration: none;
}

.dropdown_menu a:hover {
  color: #fcc81f;
}

/* ---------------- Landing ---------------- */
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.landing img {
  width: 120vh;
  position: absolute;
  z-index: -1;
  right: 0;
  height: auto;
  filter: drop-shadow(0px 0px 10px #082314);
}

.landing_main {
  padding-left: 10vh;
  color: #fff;
}

.landing_main hr {
  align-self: normal;
}

.landing_main h1 {
  font-family: 'open sans', sans-serif;
  font-size: 3.6rem;
  color: rgb(26, 255, 26);
  line-height: 7vh;
}

.landing_main p {
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 0.75rem;
}

.lm_up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lm_up hr {
  align-self: normal;
}

.lm_up h3 {
  color: #ff4a67;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 4.5vh;
  margin-bottom: 2px;
  letter-spacing: 2px;
}

.lm_up h4 {
  color: #fff;
  font-family: 'open sans', sans-serif;
  letter-spacing: 3px;
  font-size: 0.75rem;
  font-weight: 100;
}

/* ---------- Container 0 ---------- */
.cnt0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 0vh !important;
  margin: 5vh 15vh;
}

.cnt0 img {
  width: 80vh;
  height: auto;
  filter: drop-shadow(0px 0px 50px rgba(26, 255, 26, 0.3));
}

.cnt0_abt h5 {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'open sans', sans-serif;
  color: #ff4a67;
}

.cnt0_abt h3 {
  font-family: 'anton', sans-serif;
  line-height: 6vh;
  font-size: 2.7rem;
  font-weight: 300;
  color: rgb(26, 255, 26);
}

.cnt0_date {
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(255, 156, 35);
}

.cnt0_abt_text {
  font-size: 1rem;
  font-family: 'inter', sans-serif;
  padding-top: 20px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
}

/* ---------- Container 1 ---------- */
.cnt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 15vh;
}

.cnt1 h3 {
  align-self: flex-start;
  font-family: 'anton', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(26, 255, 26);
}

.cnt1_cards {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cnt1_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(255, 255, 255, 0.3);
  height: 50vh;
  width: 45vh;
  margin: 5vh 0vh;
  padding: 3vh;
  border-radius: 10px;
  cursor: pointer;
  background-color: #161819;
  overflow: hidden;
  text-align: justify;
}

.cnt1_card:hover {
  border: 1px solid rgb(26, 255, 26);
  box-shadow: 0px 0px 30px -10px rgb(26, 255, 26);
}

.c1c_ins h5 {
  font-family: 'anton', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgb(26, 255, 26);
}

.c1c_ins p {
  font-family: 'inter', sans-serif;
  font-size: 0.8rem;
  padding-top: 2vh;
  color: rgba(255, 255, 255, 0.6);
}

.cnt1_card a {
  font-family: 'anton', sans-serif;
  color: rgb(255, 156, 35);
  text-decoration: none;
  font-size: 1rem;
}

/* ---------- Container 2 ---------- */
.cnt2 {
  display: flex;
  flex-direction: column;
  margin: 5vh 15vh;
}

#cnt2_h4 {
  align-self: flex-start;
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'open sans', sans-serif;
  color: #ff4a67;
}

#cnt2_p {
  align-self: flex-start;
  font-family: 'anton', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(26, 255, 26);
  line-height: 7vh;
}

.event-list {
  margin-top: 5vh;
  display: flex;
}

.date {
  color: #f28500;
  font-family: 'open sans', sans-serif;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  background-color: rgb(18, 19, 19);
}

.timetable {
  display: none;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 0px 10px 10px 10px;
  background-color: #161819;
}

.topic_ul li {
  font-family: 'inter', sans-serif;
  font-size: 0.9rem;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.events {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.events h3 {
  font-family: 'anton', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #ff4a67;
}

.events p {
  font-family: 'inter', sans-serif;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-bottom: 3px;
  color: rgba(255, 255, 255, 0.6);
}

.events h4 {
  font-family: 'open sans', sans-serif;
  color: rgb(26, 255, 26);
  font-weight: 300;
  font-size: 1.1rem;
}

.events hr {
  width: 80px;
  margin-bottom: 5px;
}

.events_p {
  font-size: 12px !important;
  padding-left: 0px !important;
}

.event1_topics,
.event2_topics,
.event3_topics,
.event4_topics,
.event5_topics {
  margin-left: 10px;
}

/* ---------- Container 3 ---------- */
.cnt3 {
  display: flex;
  flex-direction: column;
}

.cnt3_top {
  margin: 5vh 15vh;
}

.cnt3_top h5 {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'open sans', sans-serif;
  color: #ff4a67;
}

.cnt3_top h3 {
  font-family: 'anton', sans-serif;
  line-height: 6vh;
  font-size: 2.7rem;
  font-weight: 300;
  color: rgb(26, 255, 26);
}

.cnt3_prsns {
  display: flex;
  justify-content: space-between;
}

.prsn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  padding: 20px;
}

.prsn img {
  width: 150px;
  height: 150px;
  border-radius: 100vh;
  filter: grayscale(1);
  border: 2px solid #ff4a67;
}

.prsn h4 {
  font-family: 'open sans', sans-serif;
  color: rgb(26, 255, 26);
  font-weight: 300;
  font-size: 1.1rem;
  padding-top: 10px;
}

.prsn p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'inter', sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

/* ---------- Container 4 ---------- */
.cnt4 {
  display: flex;
  flex-direction: column;
  margin: 5vh 15vh;
}

.cnt4_top h5 {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'open sans', sans-serif;
  color: #ff4a67;
}

.cnt4_base {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.cnt4_top h3 {
  font-family: 'anton', sans-serif;
  line-height: 6vh;
  font-size: 2.7rem;
  font-weight: 300;
  color: rgb(26, 255, 26);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  background-color: #161819;
  width: 55vh;
  margin: 0vh 3vh;
  overflow: hidden;
}

.game:hover {
  border: 1px solid rgb(26, 255, 26);
}

.game h4 {
  color: rgb(26, 255, 26);
  font-family: 'inter', sans-serif;
  font-weight: 300;
  padding: 2vh 0vh;
}

.game img {
  width: 100%;
  border-radius: 5px;
}

.reg {
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0.6);
  display: inline-block;
  cursor: pointer;
  color: #ff4a67;
  font-family: 'inter', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.reg:hover {
  border: 1px solid rgb(26, 255, 26);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 5vh;
  background-color: #161819;
}

footer {
  color: rgb(26, 255, 26);
  font-family: 'open sans', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}